body {
    /*font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;*/
    /* Set background image */
  background-image: url('umiami_logo.jpeg');
  /* Set background size to cover entire viewport */
  background-size: 150% auto;
  /* Center the background image */
  background-position: center;
  /* Apply a background color as fallback */
  background-color: #f0f0f0; /* Fallback color if image fails to load */
  /* Other styling for the body */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  #action-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0b9927;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button:hover {
    background-color: #0b9927;
  }
  
  .hidden {
    display: none;
  }
  
  #door-access-form,
  #pos-form {
    margin-top: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0b9927;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0b9927;
  }
  