<!--
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eaton Access - NFC Reader Web App</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='eaton.css') }}">
</head>
<body>
  <div class="container">
    <h1>Eaton Access</h1>
    <p>Place your NFC device near the reader to access Eaton.</p>
    <div id="door-access-status">
      
    </div>
  </div>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eaton Access - NFC Reader Web App</title>
  <!-- Link to the static CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='eaton.css') }}">
</head>
<body>
  <div class="container">
    <a href="dorm" class = "back-button">Back to Dorms</a>
    <h1>Eaton Access</h1>
     <p>Choose a Room Number:</p>
     <!-- Buttons for room numbers -->
     <form id="room-form" method="POST">
       <button type="submit" name="room_number" value="100">Room 100</button>
       <button type="submit" name="room_number" value="101">Room 101</button>
       <button type="submit" name="room_number" value="200">Room 200</button>
       <button type="submit" name="room_number" value="201">Room 201</button>
       <button type="submit" name="room_number" value="300">Room 300</button>
       <button type="submit" name="room_number" value="301">Room 301</button>
       <button type="submit" name="room_number" value="400">Room 400</button>
       <button type="submit" name="room_number" value="402">Room 402</button>
       
     </form>
     <!-- Status message will be displayed here -->
     <div id="door-access-status">
       {{ access_status }}
     </div>
   </div>
 </body>
 </html>
